# Node
node_modules/

# System files
.DS_Store

# Environment files (secrets)
.env

# Build outputs
dist/
build/

# Firebase / sensitive configs
backend/src/config/firebaseServiceAccount.json

# Docs (temporary - since you said you don't want to push them)
docs/