@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL STYLES */
body {
  margin: 0;
  background-color: #FFFDD0;
  color: #0B3954;
  scroll-behavior: smooth;
  font-family: 'Poppins', 'Georgia', serif;
}

/* CUSTOM UTILITIES */
.perspective-1000 {
  perspective: 1000px;
}

/* luxury grain */
body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: url("https://grainy-gradients.vercel.app/noise.svg");
  opacity: 0.05;
  pointer-events: none;
}

.feature-container {
  height: 200px;
  overflow: hidden;
  margin-top: 30px;
}


.feature-slider {
  display: flex;
  flex-direction: column;
  animation: scrollUp 10s linear infinite;
}


.feature-card {
  background: white;
  color: #0B3954;
  padding: 12px 20px;
  margin: 10px 0;
  border-radius: 8px;
  font-weight: 500;
  text-align: center;
}


@keyframes scrollUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}
